body {
    background-color: #121212; /* Dark background for the entire page */
    color: #FFFFFF; /* White text for readability */
}

#Searchfield {
    width: 400px;
    height: 35px;
    border-radius: 5px;
    background-color: #2E2E2E; /* Dark background */
    color: #FFFFFF; /* White text */
    border: 1px solid cyan;
}

#SearchButton {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background-color: #2E2E2E; /* Dark background */
    color: #FFFFFF; /* White text */
    border: 1px solid cyan;
}

#SearchButton:hover {
    background-color: #121212; /* Darker background on hover */
    border: 1px solid black;
    color: whitesmoke;
}

table {
    background-color: #2E4053; /* Dark background for tables */
    color: #FFFFFF; /* White text */
    border-color: #FFFFFF; /* White border color */
}
